.icon{
	background: url(../image/common.png) no-repeat; /*url为png图片的路径*/
	/*width和line-height分别对应每个小图标的宽和高*/
	width: 15px;
	height: 15px;
	line-height :20px;
	display: inline-block;
}
.icon-home{
	background: url(../image/common.png) no-repeat; /*url为png图片的路径*/
	/*width和line-height分别对应每个小图标的宽和高*/
	width: 15px;
	height: 15px;
	line-height :20px;
	display: inline-block;   
	background-position: 0px -23px;
}
.icon-dictionary{   /*png图片左上角为原点,往右往下均为负值*/
	background: url(../image/common.png) no-repeat; /*url为png图片的路径*/
	/*width和line-height分别对应每个小图标的宽和高*/
	width: 15px;
	height: 15px;
	line-height :20px;
	display: inline-block;
	background-position: -264px -24px;
}
.icon-arrow{   
	background: url(../image/common.png) no-repeat; /*url为png图片的路径*/
	/*width和line-height分别对应每个小图标的宽和高*/
	width: 15px;
	height: 15px;
	line-height :20px;
	display: inline-block;
	background-position: -120px -73px;
}
.icon-list{
	background: url(../image/common.png) no-repeat; /*url为png图片的路径*/
	/*width和line-height分别对应每个小图标的宽和高*/
	width: 15px;
	height: 15px;
	line-height :20px;
	display: inline-block;  
	background-position: -360px -49px;
}


.icon-node{
	background: url(../image/node.png) no-repeat;
}

.icon-cloud{
	background: url(../image/cloud.png) no-repeat;
}

.icon-data{
	background: url(../image/data.png) no-repeat;
}

.icon-security{
	background: url(../image/security.png) no-repeat;
}

.icon-recordgroup{
	background: url(../image/recordgroup.png) no-repeat;
}

.icon-record{
	background: url(../image/record.png) no-repeat;
}

.icon-add{
	background: url(../image/add.png) no-repeat;
}

.icon-edit{
	background: url(../image/edit.png) no-repeat;
}

.icon-delete{
	background: url(../image/delete.png) no-repeat;
}

.icon-field{
	background: url(../image/field.png) no-repeat;
}

.icon-key{
	background: url(../image/key.png) no-repeat;
}

.icon-rule{
	background: url(../image/rule.png) no-repeat;
}

.icon-search{
	background: url(../image/search.png) no-repeat;
}