<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/monstrous/emblem.jpg}"/>
	<title>自动化运维平台</title>
    <!-- Bootstrap Core CSS <link rel="stylesheet" type="text/css" th:href="@{/css/treeIcon.css}" />-->
    <link th:href="@{/assets/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <!-- chartist CSS -->
    <link th:href="@{/assets/plugins/chartist-js/dist/chartist.min.css}" rel="stylesheet"/>
    <link th:href="@{/assets/plugins/chartist-js/dist/chartist-init.css}" rel="stylesheet"/>
    <link th:href="@{/assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css}" rel="stylesheet"/>
    <link th:href="@{/assets/plugins/css-chart/css-chart.css}" rel="stylesheet"/>
    <!-- toast CSS -->
    <link th:href="@{/assets/plugins/toast-master/css/jquery.toast.css}" rel="stylesheet" />
    <!-- Custom CSS -->
    <link th:href="@{/monstrous/css/style.css}" rel="stylesheet"/>
    <!-- You can change the theme colors from here -->
    <link th:href="@{/monstrous/css/colors/blue.css}" id="theme" rel="stylesheet"/>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<!-- <script>
     (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o), m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-85622565-1', 'auto');
    ga('send', 'pageview'); 
    </script> -->

    <style>
        .container-fluid{
            padding: 0 0;
            min-height: 695px;
        }
        .page-wrapper{
            min-height: 695px;
        }
        iframe{
            min-height: 695px;
            width: 100%;
        }
    </style>
</head>

<body class="fix-header fix-sidebar card-no-border">

    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar">
            <nav class="navbar top-navbar navbar-toggleable-sm navbar-light">
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="index.html">
                        <!-- Logo icon -->
                        <b>
                            <img alt="云南省不动产统一登记" th:src="@{/monstrous/emblem.jpg}" class="dark-logo" style="height: 50px;width: 50px" />
						 	<img alt="云南省不动产统一登记" th:src="@{/monstrous/emblem.jpg}" class="light-logo" style="height: 50px;width: 50px" />
                        </b>
                        <!--End Logo icon -->
                        </a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav mr-auto mt-md-0 ">
                        <!-- This is  -->
                        <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                        <li class="nav-item"> <a class="nav-link sidebartoggler hidden-sm-down text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="icon-arrow-left-circle"></i></a> </li>
                    </ul>
                    <!-- ============================================================== -->
                    <!-- Comment -->
                    <!-- ============================================================== 
                    <ul class="navbar-nav my-lg-0">
						<li class="nav-item dropdown">
							<a class="nav-link " href="/" >
								<span class="icon-home"><span class="hidden-sm-down">&nbsp;主页</span></span>
							</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<span aria-hidden="true" class="icon-user">
									<span class="hidden-sm-down">张三</span>
								</span>
							</a>
							<div class="dropdown-menu dropdown-menu-right animated flipInY">
                                <ul class="dropdown-user">
                                    <li>
                                    	<a href="javascript:void(0)"><i class="icon-bell"></i>&nbsp;&nbsp;待办</a>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li>
                                    	<a href="">
                                    		<i class="icon-key"></i>&nbsp;&nbsp;修改密码
                                    	</a>
                                    </li>
                                </ul>
                            </div>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<span class="right-side-toggle icon-settings"><span class="hidden-sm-down">&nbsp;设置</span></span>
							</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link" href="javascript:quit()">
								<span class="fa fa-power-off"><span class="hidden-sm-down">&nbsp;退出</span></span>
							</a>
						</li>
					</ul>-->
                    <!-- ============================================================== -->
                    <!-- End Comment -->
                    <!-- ============================================================== -->
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- title -->
                <div class="user-profile">
                    <!-- <div class="profile-img"> <img src="${domain!}/yn_view/monstrous/emblem.jpg" alt="云南省不动产统一登记" style="height: 50px;width: 50px"/> </div> -->
                    <div class="profile-text">
                        <span>
                        <a><p class="dark-logo" style="font-family:cursive;font-size: 120%;font-weight: bold;">运维平台业务门户</p></a>
                        </span>
                    </div>
                </div>
                <!-- End title text-->
                <!-- Sidebar navigation  菜单栏-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
						<li><a href="javascript:;" onclick="jumpPage('.././alarmRuleConf')">告警规则配置</a></li>
						<li><a href="javascript:;" onclick="jumpPage('.././recordEntity')">接口内容配置</a></li>
						<li><a href="javascript:;" onclick="jumpPage('.././cmdbEntity')">CMDB关系配置</a></li>                       
          				<li><a href="javascript:;" onclick="jumpPage('.././cmdbInput')">CMDB源数据录入</a></li>
          				<li><a href="javascript:;" onclick="jumpPage('.././alarm')">告警管理</a></li>
                        <li><a href="javascript:;" onclick="jumpPage('.././baseStatus.html')">基本状况</a></li>
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid 主要内容 -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <!-- Row -->
				<iframe src=".././alarm"></iframe>
            <!-- ============================================================== -->
            <!-- End Right sidebar -->
            <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer" style="position:inherit;">
            	 © 2017 云南省国土资源厅版权所有

            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script th:src="@{/assets/plugins/jquery/jquery.min.js}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script th:src="@{/assets/plugins/bootstrap/js/tether.min.js}"></script>
    <script th:src="@{/assets/plugins/bootstrap/js/bootstrap.min.js}"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script th:src="@{/monstrous/js/jquery.slimscroll.js}"></script>
    <!--Wave Effects -->
    <script th:src="@{/monstrous/js/waves.js}"></script>
    <!--Menu sidebar -->
    <script th:src="@{/monstrous/js/sidebarmenu.js}"></script>
    <!--stickey kit -->
    <script th:src="@{/assets/plugins/sticky-kit-master/dist/sticky-kit.min.js}"></script>
    <!--Custom JavaScript -->
    <script th:src="@{/monstrous/js/custom.min.js}"></script>
    <!-- ============================================================== -->
    <!-- This page plugins -->
    <!-- ============================================================== -->
    <!-- chartist chart -->
   <!--  <script th:src="@{/assets/plugins/chartist-js/dist/chartist.min.js}"></script> -->
    <!-- <script th:src="@{/assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js}"></script> -->
    <!-- Chart JS -->
    <!-- <script th:src="@{/assets/plugins/echarts/echarts-all.js}"></script> -->
    <script th:src="@{/assets/plugins/toast-master/js/jquery.toast.js}"></script>
    <!-- Chart JS -->
   <!--  <script th:src="@{monstrous/js/dashboard1.js}"></script> -->
    <script th:src="@{monstrous/js/toastr.js}"></script>
    <!-- ============================================================== -->
    <!-- Style switcher -->
    <!-- ============================================================== -->
    <script th:src="@{/assets/plugins/styleswitcher/jQuery.style.switcher.js}"></script>

    <script >
        function jumpPage(url){
            $('.container-fluid').empty();
            $('.container-fluid').empty().append('<iframe src="'+url+'"></iframe>');
        }
    </script>
</body>

</html>
